{% extends "base.html" %}
{% block title %}Посты из категории {{title}}{% endblock %}

{% block content %}
<main>
    <section>
	<div class="container">
	    <h1>Посты из категории {{title}}</h1>
	</div>
    </section>
	<div>
		{% for post in object_list%}
    <div class="post-entry text-center">


      <div class="card text-dark bg-light mb-3" style="max-width:100%;padding:0px 20%;border:0px;">
    <div class="card-header">  <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2></div>
    <div class="card-body">
      <p class="card-text">{{ post.body }}</p>
    </div>
  </div>
    </div>
		{% endfor %}
    </div>
</main>
{% endblock %}
