[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-mptt = "*"
django-quill = "*"
django-mptt-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
